html,body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rebeccapurple;
    width: 100%;
    word-spacing: 250px;
    text-align: center;
    position: fixed;
    top: 0;
}
nav a{
    line-height: 50px;
    color: white;
    text-decoration: none;
    padding: 0 15px;
}
section{
    height: calc(100% - 50px);
    scroll-margin-top: 50px;
}
#img1{
    background-color: lime;
    margin-top: 50px;
}
#img2{
    background-color: khaki;
}
#img3{
    background-color: skyblue;
}
#img4{
    background-color: gold;
}
.t{
    height: 300px;
    width: 300px;
    background-size: cover;
    margin: 10px auto;
}
.t1{
    background-image: url(xuda.png);
}
.b{
    font-size: 2.2em;
    text-align: center;
}
.y{
    font-size: 20px;
}
.s{
    width: 200px;
    height: 300px;
    background-size: cover;
    position: absolute;
    border-radius: 30%;
}
.s1{
    background-image: url(img1.jpeg);
    margin-left: 300px;
}
.s2{
    background-image: url(img11.jpg);
    margin-left: 830px;
}
.s3{
    margin-left: 570px;
    background-image: url(img4.jpeg);
}
.s4{
    background-image: url(img2.jpeg);
    margin-left: 570px;
}
.s5{
    background-image: url(img3.jpeg);
    margin-left: 570px;
}